@font-face {
    font-family: 'iconfont';
    src: url('~fonts/iconfont.woff') format('woff');
}

.icon-cart:before { content: "\e729"; }
.icon-minus:before { content: "\e7de"; }
.icon-add:before { content: "\e673"; }