@import '~*/mixin.less';

.cartview {
    &-mask {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #000;
        opacity: .4;
        transition: opacity .3s ease;
    }
    &-list {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-bottom: 45/@rem;
        transition: transform .3s ease;
        &-header {
            height: 30/@rem;
            display: flex;
            align-items: center;
            background: #eceff1;
            color: #666;
            padding: 0 10/@rem;
            .tit {
                flex: 1;
                font-size: 12/@rem;
            }
            .clear-cart {
                flex: none;
                font-size: 10/@rem;
            }
        }
        &-content {
            background: #fff;
            ul {
                padding: 0 10/@rem;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 30/@rem;
                    .border-line;
                }
            }
        }
    }
    &-footer {
        display: flex;
        align-items: center;
        position: fixed;
        left: 0;
        bottom: 0;
        height: 45/@rem;
        width: 100%;
        line-height: 45/@rem;
        padding-left: 75/@rem;
        background: rgba(61,61,63,.9);
        .cart-icon {
            position: absolute;
            left: 14/@rem;
            top: -10/@rem;
            height: 45/@rem;
            width: 45/@rem;
            border-radius: 50%;
            background: black;
        }
        .info {
            flex: 1;
            height: 45/@rem;
            color: #fff;
        }
        // @color1: #2395ff;
        // @color2: #00a1d6;
        // @color3: #00b8fe;
        // @color4: #da5e2e;
        // @color6: #d74535;
        // @color5: #e79c37;
        .balance-btn {
            height: 45/@rem;
            width: 90/@rem;
            text-align: center;
            transition: background-color .3s ease;
            &-disabled {
                color: #cccccc;
                background: #666;
            }
            &-payment {
                color: #fff;
                background: #51c332;
            }
        }
    }

    .showcartlist-enter-active, .showcartlist-leave-active {
        transform: translateZ(0);
    }
    .showcartlist-enter, .showcartlist-leave-active {
        transform: translate3d(0, 100% ,0);
    }

    .mask-fade-enter-active, .mask-fade-leave-active {
        opacity: .4;
    }
    .mask-fade-enter, .mask-fade-leave-active {
        opacity: 0;
    }
}