@import '~*/mixin.less';

.cartview {
    &-mask {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #000;
        opacity: .4;
        transition: opacity .3s ease;
    }
    &-list {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-bottom: 45/@rem;
        transition: transform .3s ease;
        &-iphonex {
            .iphonex-bottom(45/@rem);
        }
        &-header {
            height: 30/@rem;
            display: flex;
            align-items: center;
            background: #eceff1;
            color: #666;
            padding: 0 10/@rem;
            .tit {
                flex: 1;
                font-size: 12/@rem;
            }
            .clear-cart {
                flex: none;
                font-size: 10/@rem;
            }
        }
        &-content {
            background: #fff;
            ul {
                padding: 0 10/@rem;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 30/@rem;
                    .border-line;
                }
            }
        }
    }

    .ball-container {
        .ball {
            position: fixed;
            left: 24/@rem;
            bottom: 18/@rem;
            z-index: 200/@rem;
            transition: all 0.4s cubic-bezier(0.49, -0.29, 0.75, 0.41);
            .inner {
                width: 14/@rem;
                height: 14/@rem;
                border-radius: 50%;
                background: #da5e2e;
                transition: all 0.4s linear;
            }
        }
    }

    &-footer {
        display: flex;
        align-items: center;
        position: fixed;
        left: 0;
        bottom: 0;
        height: 45/@rem;
        box-sizing: content-box;
        width: 100%;
        line-height: 45/@rem;
        &-iphonex {
            .iphonex-bottom();
        }
        .cart-icon {
            position: absolute;
            left: 14/@rem;
            top: -10/@rem;
            height: 45/@rem;
            width: 45/@rem;
            text-align: center;
            line-height: 45/@rem;
            border-radius: 50%;
            background: #d74535;
            box-shadow: inset 0px 0px 0px 3px rgba(61, 61, 63, 0.9);
            .icon-cart {
                color: #fff;
                font-size: 20/@rem;
                margin-left: -2/@rem;
            }
        }
        .info {
            flex: 1;
            padding-left: 75/@rem;
            color: #fff;
        }
        // @color1: #2395ff;
        // @color2: #00a1d6;
        // @color3: #00b8fe;
        // @color4: #da5e2e;
        // @color6: #d74535;
        // @color5: #e79c37;
        .balance-btn {
            height: 100%;
            width: 90/@rem;
            text-align: center;
            transition: background-color .3s ease;
            &-disabled {
                color: #cccccc;
            }
            &-payment {
                color: #fff;
                background: #51c332;
                &-iphonex {
                    color: #fff;
                    background: #51c332;
                    border-radius: 5px;
                    height: 35/@rem;
                    line-height: 35/@rem;
                    margin: 5/@rem 12/@rem 0 0;
                }
            }
        }
    }

    .showcartlist-enter-active, .showcartlist-leave-active {
        transform: translateZ(0);
        opacity: 1;
    }
    .showcartlist-enter, .showcartlist-leave-active {
        transform: translate3d(0, 100% ,0);
        opacity: 0;
        transition: all .3s ease;
    }

    .mask-fade-enter-active, .mask-fade-leave-active {
        opacity: .4;
    }
    .mask-fade-enter, .mask-fade-leave-active {
        opacity: 0;
    }
}