@import '~*/mixin.less';

.home {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;

    .menu-view {
        height: 100%;
        width: 100%;
        &-main {
            height: 100%;
            width: 100%;
            // padding-bottom: 45/@rem;
            background: #fff;
            .menuview-main {
                display: flex;
                height: 100%;
                // width:100%;
                .menu-category {
                    overflow-y: auto;
                    flex: 0 0 75/@rem;                    
                    color: #666;
                    background: #f8f8f8;
                    .item {
                        font-size: 10/@rem;
                        padding: 14/@rem 10/@rem;
                        .border-line;
                    }
                    .active {
                        color: #333;
                        background: #fff;
                    }
                }
                .container {
                    position: relative;
                    flex: 1;
                    display: block;
                    padding-bottom: 45/@rem;
                    .scroller {
                        overflow-y: auto;
                        height: 100%;
                    }
                }
            }
        }
    }

}

