@import '~*/mixin.less';

.home {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;

    .menu-view {
        height: 100%;
        width: 100%;
        .menuview-main {
            display: flex;
            height: 100%;
            overflow: hidden;
            .menu-container {
                flex: 0 0 75/@rem;
                width: 75/@rem;
                color: #666;
                background: #f8f8f8;
                .menu-category {  
                    padding-bottom: 45/@rem;                     
                    .item {
                        position: relative;
                        font-size: 10/@rem;
                        padding: 14/@rem 10/@rem;
                        .border-line;
                        .num-tag {
                            position: absolute;
                            right: 5%;
                            top: 5%;
                            min-width: 13/@rem;
                            height: 10/@rem;
                            padding: 0 3/@rem; 
                            font-size: 8/@rem;   
                            text-align: center; 
                            line-height: 10/@rem;                       
                            border-radius: .5rem;
                            background: #da5e2e;
                            color: #fff;
                        }
                    }
                    .active {
                        color: #333;
                        background: #fff;
                    }
                }
            }
            .container {
                flex: 1;
                .scroller {
                    padding-bottom: 45/@rem;
                }
            }
        }
    }

}

